<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de contraseña</title>
    <style>
        body {
            text-align: center;
            margin: 0 auto;
            width: 80%;
            font-family: 'Lato', sans-serif;
            background-color: #e2e2e2;
        }
        .mail {
            font-size: 30px;
            color: red;
        }
    </style>
</head>
<body style="margin: 20px auto;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="padding: 0 30px;background-color: #fff; box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.27); width: 100%;">
        <tr>
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <p class="mail">Hola: {{ email }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="border-top: 1px solid #777; height: 1px; margin-top: 30px;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Si quieres cambiar la clave, haz clic en el siguiente enlace:</p>
                            <p><a href="{{ url_cambio_contraseña }}" style="color: blue; text-decoration: underline;">Cambiar clave</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="https://ejemplo.com/assets/images/email-temp/order-success.png" alt="" style="margin-top: 30px;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
