{% extends "../base.html" %}

{% block body %}
{% load static %}
{% if messages %}
<div class="alert alert-success text-center" role="alert">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6">
            <h1 class="text-center mb-4">Ingresa tu email</h1>
            <form action="" class="form-inline subscribe-form auth-form needs-validation" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
                {% csrf_token %}
                <div class="form-group mx-sm-3">
                    <input type="email" class="form-control" name="email" id="mce-EMAIL" placeholder="Enter your email" required="required">
                </div>
                <br>
                <button type="submit" class="btn btn-primary mx-auto d-block">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
