{% extends "./base.html" %}
{% load static%}
{% block body %}

    <h1>Error 404</h1>
    <img src="{% static 'img/pandabear.png' %}" alt="Pandita" class="img-error">
    <p>Lo sentimos, la página que estás buscando no pudo ser encontrada</p>
    <p>¿Te gustaría volver a la <a href="{% url 'home' %}">página de inicio</a>?</p>

{% endblock %}