<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TLCE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{% static 'style/stylehome.css' %}" rel="stylesheet" type="text/css">
    <style>
        footer {
            background-color: #f8f9fa;
            padding: 20px 0;
            text-align: center;
            border-top: 1px solid #e9ecef;
        }
        footer p {
            margin: 0;
            font-size: 16px;
            color: #131a21;
        }
        footer ul {
            list-style-type: none;
            padding: 0;
            margin: 10px 0 0;
            display: flex;
            justify-content: center;
        }
        footer ul li {
            margin: 0 15px;
        }
        footer ul li a {
            text-decoration: none;
            color: #007bff;
            font-size: 14px;
        }
        footer ul li a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid justify-content-end">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'img/logo.png' %}" style="width: 60px; height: auto;" alt="Logo">
            </a>
            <form class="d-flex" role="search" style="margin-top: 10px;" method="GET" action="{% url 'publicacion' %}">
                <input class="form-control me-2 custom-input" type="search" name="q" placeholder="¿Buscas algo en particular?" aria-label="Search" style="width: 450px;">
                <button class="btn btn-outline-primary custom-search-btn" type="submit">Buscar</button>
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Intercambios
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'publicacion' %}">Todo</a></li>
                            {% for categoria in categorias %}
                                <li><a class="dropdown-item" href="{% url 'publicacion' %}?categoria={{ categoria.id }}">{{ categoria.nombre }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Chats</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'perfil' %}">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'publicaciones' %}">Mis publicaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ver_notificaciones' %}">
                                <img src="{% static 'img/NOTI.png' %}" style="width: 25px; height: auto;" alt="Notificaciones">
                                <span id="notificaciones-counter" class="badge bg-danger">0</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'cerrar_sesion' %}" method="post" class="d-flex">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-primary custom-search-btn">Cerrar Sesión</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Inicia Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registro' %}">Registro</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!--NAVBAR FIN -->
    {% block body %}
 
    <!--BODY de los extens de esta pagina, igualmente en los extens se debe cargar los statics-->
    {% endblock %}
    <br><br>
    <footer>
        <p>Copyright &copy; 2024 11 Te lo cambio entonces</p>
        <ul>
            <li><a href="{% url 'nosotros' %}">Acerca de</a></li>
            <li><a href="https://www.instagram.com/telocambioentonce/">Conectar</a></li>
        </ul>
    </footer>

    <!-- Cargar Scripts al final del body -->
    <script src="https://code.jquery.com/jquery-3.6.4.js"
            integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        // Función para obtener el número de notificaciones pendientes
        function actualizarContadorNotificaciones() {
            $.ajax({
                url: "{% url 'contador_notificaciones' %}",
                type: 'GET',
                success: function(data) {
                    // Actualizar el contador de notificaciones
                    $('#notificaciones-counter').text(data.contador);
                },
                error: function(error) {
                    console.log('Error al obtener el contador de notificaciones:', error);
                }
            });
        }

        // Llamar a la función al cargar la página
        $(document).ready(function() {
            actualizarContadorNotificaciones();
        });
    </script>
    <script>
        function mostrarContraseña() {
            var campoContraseña1 = document.getElementById("txtPassword");
            var campoContraseña2 = document.getElementById("txtpass2");
            var tipo1 = campoContraseña1.type;
            var tipo2 = campoContraseña2.type;

            if (tipo1 === "password") {
                campoContraseña1.type = "text";
                campoContraseña2.type = "text";
            } else {
                campoContraseña1.type = "password";
                campoContraseña2.type = "password";
            }
        }
    </script>
    <script>
        function validarContraseña() {
            var pass1 = document.getElementById('txtPassword').value;
            var pass2 = document.getElementById('txtpass2').value;

            if (pass1 !== pass2) {
                alert('Las contraseñas no coinciden');
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
