{% extends "./base.html" %}
{% load static %}
{% block body %}
{% if messages %}
<br>
<div class="alert alert-success text-center" role="alert">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
<link href="{% static 'style/styledetalleproducto.css' %}" rel="stylesheet" type="text/css">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="product-card card mb-4">
                <div class="product-img-container">
                    <img src="{{ producto.imagen.imagen.url }}" alt="{{ producto.nombre }}" class="product-img img-fluid rounded">
                </div>
                <div class="card-body">
                    <h5 class="product-title">{{ producto.nombre }}</h5>
                    <p class="product-description">{{ producto.descripcion }}</p>
                    <p><strong>Categoría:</strong> {{ producto.categoria.nombre }}</p>
                    <p><strong>Condición:</strong> {{ producto.condicion.condicion }}</p>
                    <p><strong>Estado:</strong> {{ producto.get_estado_display }}</p>
                    <p><strong>Publicado por:</strong> <a href="{% url 'perfil_publico' user_id=producto.usuario.id %}">{{ producto.usuario.name }} {{ producto.usuario.lastname }}</a></p>
                    <p><strong>Comuna de origen:</strong> {{ producto.usuario.comuna.nombre }}</a></p>
                    <a href="{% url 'publicacion' %}" class="btn btn-secondary">Volver a la lista de productos</a>
                        <br>
                    <form method="POST" action="{% url 'expresar_interes' producto_id=producto.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="mensaje_interes" value="Hola! Me interesa este producto"></input>
                        <button type="submit" class="btn btn-primary mt-2">Me interesa</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const imgContainer = document.querySelector('.product-img-container');
    const img = document.querySelector('.product-img');

    imgContainer.addEventListener('mousemove', function(e) {
        const rect = imgContainer.getBoundingClientRect();
        const x = e.clientX - rect.left;
        const y = e.clientY - rect.top;
        const xPercent = (x / rect.width) * 100;
        const yPercent = (y / rect.height) * 100;
        img.style.transformOrigin = `${xPercent}% ${yPercent}%`;
        img.style.transform = 'scale(1.5)';
    });

    imgContainer.addEventListener('mouseleave', function() {
        img.style.transformOrigin = 'center center';
        img.style.transform = 'scale(1)';
    });
});
</script>
{% endblock %}
