{% extends "./base.html" %}

{% block body %}
{% load static %}
<link href="{% static '../static/style/styleregistro.css' %}" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<br><br><br>

<div class="container">
  <form action="/cambiarDatosUsuario/" class="form" id="registroForm" autocomplete="off" method="POST" onsubmit="return validarContraseña();">
    {% csrf_token %}

    <h2 class="title">Datos de usuario</h2>
    {% if messages %}
    <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
    </div>
    {% endif %}
    <div class="inputContainer">
      <input type="text" id="txtRut" name="txtRut" class="input" placeholder="Rut" minlength="3" maxlength="50" value="{{ request.user.rut }}" autocomplete="off">
      <label for="txtRut" class="label">Rut</label>
  </div>
  
  <div class="inputContainer">
      <input type="text" id="txtNombre" name="txtNombre" class="input" placeholder="Nombre" minlength="3" maxlength="50" value="{{ request.user.name }}" autocomplete="off">
      <label for="txtNombre" class="label">Nombre</label>
  </div>
  
  <div class="inputContainer">
      <input type="text" id="txtApellido" name="txtApellido" class="input" placeholder="Apellido" minlength="3" maxlength="50" value="{{ request.user.lastname }}" autocomplete="off">
      <label for="txtApellido" class="label">Apellido</label>
  </div>
  
  <div class="inputContainer">
      <input type="email" id="txtCorreo" name="txtCorreo" class="input" placeholder="Correo" minlength="3" maxlength="25" value="{{ request.user.email }}" autocomplete="off">
      <label for="txtCorreo" class="label">Correo</label>
  </div>
  
  <div class="inputContainer">
      <input type="text" id="numCelular" name="numCelular" class="input" placeholder="Celular" minlength="1" maxlength="9" value="{{ request.user.celular }}" autocomplete="off">
      <label for="numCelular" class="label">Celular</label>
  </div>
  
  <div class="inputContainer">
      <input type="date" id="txtFechaNac" name="txtFechaNac" class="input" placeholder="Fecha de nacimiento" value="{{ request.user.date_nac|date:'Y-m-d' }}" autocomplete="off">
      <label for="txtFechaNac" class="label">Fecha de nacimiento</label>
  </div>
  <div class="inputContainer">
    <select id="region" name="region" class="input">
      {% for region in regiones %}
        <option value="{{ region.id }}" {% if region.id == request.user.region.id %}selected{% endif %}>
          {{ region.nombre }}
        </option>
      {% endfor %}
    </select>
    <label for="region" class="label">Región</label>
  </div>
  
  <div class="inputContainer">
    <select id="comuna" name="comuna" class="input">
      {% for comuna in comunas %}
        <option value="{{ comuna.id }}" {% if comuna.id == request.user.comuna.id %}selected{% endif %}>
          {{ comuna.nombre }}
        </option>
      {% endfor %}
    </select>
    <label for="comuna" class="label">Comuna</label>
  </div>
  

    <div class="inputContainer">
      <input type="password" id="txtPasswordactual" name="txtPasswordactual" class="input"  minlength="4">
      <label for="txtPasswordactual" class="label">Contraseña actual</label>
    </div>

    <div class="inputContainer">
      <input type="password" id="txtPassword" name="txtPassword" class="input"  minlength="4">
      <label for="txtPassword" class="label">Nueva Contraseña</label>
    </div>

    <div class="inputContainer">
      <input type="password" id="txtpass2" name="txtpass2" class="input"  minlength="4">
      <label for="txtpass2" class="label">Confirmar Contraseña</label>
    </div>

    <div class="input-group-append">
      <button type="button" id="btnMostrarContraseña" class="btn btn-outline-secondary" onclick="mostrarContraseña()">Mostrar contraseña</button>
    </div>

    <input type="submit" class="submitBtn" value="Actualizar">
  </form>
</div>
{% endblock %}
