{% extends "./base.html" %}
{% block body %}
{% load static %}
<link href="{% static '../static/style/styleregistro.css' %}" rel="stylesheet" type="text/css"> 
<link href="{% static 'style/styledetalleproducto.css' %}" rel="stylesheet" type="text/css">
<div class="container">
    <form method="post" enctype="multipart/form-data" action="{% url 'editar_productos' producto_id=producto.id %}" class="form">
        {% csrf_token %}
        <h2 class="title">Editar Producto</h2>
        {% if producto.imagen %}
            <img src="{{ producto.imagen.imagen.url }}" alt="{{ producto.nombre }}" class="card-img-top" style="width: 18rem;">
        {% else %}
            <img src="{% static 'placeholder_image.jpg' %}" alt="Placeholder" class="card-img-top">
        {% endif %}
        <!-- Nombre -->
        <div class="inputContainer">
            <input type="text" id="nombre" name="nombre" class="input" placeholder=" " required value="{{ producto.nombre }}">
            <label for="nombre" class="label">Nombre</label>
        </div>
        
        <!-- Categoría -->
        <div class="inputContainer">
            <select id="categoria" name="categoria" class="input" required>
                <option value="" disabled></option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}" {% if categoria.id == producto.categoria.id %} selected {% endif %}>{{ categoria.nombre }}</option>
                {% endfor %}
            </select>
            <label for="categoria" class="label">Categoría</label>
        </div>
        
        <!-- Condición -->
        <div class="inputContainer">
            <select id="condicion" name="condicion" class="input" required>
                <option value="" disabled></option>
                {% for condicion in condiciones %}
                    <option value="{{ condicion.id }}" {% if condicion.id == producto.condicion.id %} selected {% endif %}>{{ condicion.condicion }}</option>
                {% endfor %}
            </select>
            <label for="condicion" class="label">Condición</label>
        </div>
        
        <!-- Imagen -->
        <div class="inputContainer">
            <input type="file" id="imagen" name="imagen" class="input" accept="image/*" value="{{ producto.imagen }}" >
            <label for="imagen" class="label">Imagen</label>
        </div>
        
        <!-- Descripción -->
        <div class="inputContainer">
            <textarea id="descripcion" name="descripcion" class="input" placeholder=" " required>{{ producto.descripcion }}</textarea>
            <label for="descripcion" class="label">Descripción</label>
        </div>

        <!-- Cambiar Estado -->
        <div class="inputContainer">
            <select id="nuevo_estado" name="nuevo_estado" class="input">
                <option value="DISP" {% if producto.estado == "DISP" %} selected {% endif %}>Disponible</option>
                <option value="SOL" {% if producto.estado == "SOL" %} selected {% endif %}>Solicitado</option>
                <option value="INT" {% if producto.estado == "INT" %} selected {% endif %}>Intercambiado</option>
            </select>
            <label for="nuevo_estado" class="label">Cambiar Estado</label>
        </div>

        <!-- Botón de envío -->
        <input type="submit" class="submitBtn" value="Cambiar">
    </form>

    <!-- Formulario de eliminación -->
    <form method="post" action="{% url 'eliminar_producto' producto.id %}">
        {% csrf_token %}
        <input type="submit" class="deleteBtn" value="Eliminar Producto" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">
    </form>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const imgContainer = document.querySelector('.product-img-container');
    const img = document.querySelector('.product-img');

    imgContainer.addEventListener('mousemove', function(e) {
        const rect = imgContainer.getBoundingClientRect();
        const x = e.clientX - rect.left;
        const y = e.clientY - rect.top;
        const xPercent = (x / rect.width) * 100;
        const yPercent = (y / rect.height) * 100;
        img.style.transformOrigin = `${xPercent}% ${yPercent}%`;
        img.style.transform = 'scale(1.5)';
    });

    imgContainer.addEventListener('mouseleave', function() {
        img.style.transformOrigin = 'center center';
        img.style.transform = 'scale(1)';
    });
});
</script>
{% endblock %}
