{% extends "./base.html" %}
{% load static %}

{% block body %}
<link href="{% static '../static/style/styleregistro.css' %}" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<br><br><br>
<body>
    <div class="container">
        <form action="/iniciarSesion/" class="form" id="loginForm" method="POST">
          {% csrf_token %}
          {% if error_message %}
              <p>{{ error_message }}</p>
          {% endif %}
          
          <h2 class="title">Iniciar Sesión</h2>
      
          <div class="inputContainer">
            <input type="email" id="txtCorreo" name="txtCorreo" class="input" placeholder=" " required>
            <label for="txtCorreo" class="label"> Correo Electrónico</label>
          </div>
      
          <div class="inputContainer">
            <input type="password" id="txtPassword" name="txtPassword" class="input" placeholder=" " required>
            <label for="txtPassword" class="label"> Contraseña</label>
          </div>
      
          <input type="submit" class="submitBtn" value="Iniciar Sesión">
        </form>
        <a class="text-primary" href="{% url 'send_email' %}">Olvidaste tu Contraseña ?</a>
      </div>
</body>
</html>
{% endblock %}
