{% extends "./base.html" %}

{% block body %}
{% load static %}
<link href="{% static 'style/styleproductos.css' %}" rel="stylesheet" type="text/css">
<br>
{% if messages %}
<br>
<div class="alert alert-success text-center" role="alert">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="title">Mis Publicaciones</h1>
        <a class="btn btn-primary" href="{% url 'post_producto' %}" role="button">Nueva Publicación</a>
    </div>
    <div class="row">
        {% for producto in productos %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% if producto.imagen %}
                        <img src="{{ producto.imagen.imagen.url }}" alt="{{ producto.nombre }}" class="card-img-top"  style="max-height:200px; object-fit: cover;">
                    {% else %}
                        <img src="{% static 'placeholder_image.jpg' %}" alt="Placeholder" class="card-img-top"  style="max-height:200px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">{{ producto.descripcion }}</p>
                        <p class="card-text">{{ producto.get_estado_display }}</p>
                        <a href="{% url 'vista_editar_producto' producto.id %}" class="btn btn-primary">Ver</a>

                        <br><br>

                        <!-- Botón para abrir modal de cambio de estado -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ producto.id }}">
                            Cambiar estado
                        </button>

                        <!-- Modal para cambiar estado del producto -->
                        <div class="modal fade" id="exampleModal-{{ producto.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Cambiar estado</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="{% url 'cambiar_estado_producto' producto.id %}">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label for="estado-{{ producto.id }}" class="form-label">Estado</label>
                                                <select name="nuevo_estado" id="estado-{{ producto.id }}" class="form-select">
                                                    <option value="DISP" {% if producto.estado == "DISP" %}selected{% endif %}>Disponible</option>
                                                    <option value="SOL" {% if producto.estado == "SOL" %}selected{% endif %}>Solicitado</option>
                                                    <option value="INT" {% if producto.estado == "INT" %}selected{% endif %}>Intercambiado</option>
                                                </select>
                                            </div>
                                            <label>Realizaste el intercambio con algún usuario?</label>
                                            <select name="usuario_intercambio" class="form-select">
                                                <option value="">Ninguno</option>
                                                {% for user in users %}
                                                    {% if user != request.user %}
                                                        <option value="{{ user.id }}">{{ user.name }} {{ user.lastname }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary">Actualizar</button>
                                            </div>
                                        </form> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}
