{% extends "./base.html" %}

{% block body %}
{% load static %}
<link href="{% static '../static/style/stylenosotros.css'%}" rel="stylesheet" type="text/css">
<br><br>
<h1><center>Nosotros</center></h1>

<div class="about">
    <div class="section nosotros">
        <h2>Nuestro equipo</h2>
        <p>En te lo cambio somos un grupo de programadores llamados "Dormilones" 
            y estamos preocupados por el cuidado del medio ambiente, 
            comprometidos con entregar un servicio sostenible y de calidad 
            mientras que al mismo tiempo creamos comunidad y conciencia por el cuidado de nuestro planeta.
            <center><img src="{% static 'img/nuestroequipo.png' %}" class="icon-small"></center>
        </p>
    </div>
    <div class="section mission">
        <h2>Misión</h2>
        <p>Nuestra misión es ofrecer a nuestros usuarios una plataforma 
            confiable, intuitiva y segura para realizar intercambios de bienes, 
            fomentando así el consumo responsable y la reducción del impacto ambiental.
            Esperamos contar con una amplia gama de público que puedan vincularse a través de los intercambios
            y la preocupación por el medio ambiente.
            <center><img src="{% static 'img/mision.png' %}" class="icon-small"></center>
        </p>
    </div>
    <div class="section vision">
        <h2>Visión</h2>
        <p>Nuestra visión es ser líderes en el fomento de la economía circular y el intercambio, 
            contribuyendo activamente a la construcción de un mundo más sostenible. 
            Queremos ser reconocidos como una plataforma innovadora que promueve la 
            solidaridad, la inclusión y el respeto por el medio ambiente, inspirando a otras 
            comunidades a adoptar prácticas de consumo consciente.
            <center><img src="{% static 'img/vision.png' %}" class="icon-small"></center>
        </p>
    </div>
    <div class="section values">
        <h2>Valores</h2>
        <ul>
            <li>Sostenibilidad</li>
            <li>Solidaridad</li>
            <li>Empatía</li>
            <li>Compromiso social</li>
            <li>Inclusión</li>
            <li>Respeto</li>
        </ul>
        <center><img src="{% static 'img/nosotros.jpg' %}" ></center>
    </div>
</div>
{% endblock %}
