{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="container mt-5">
    <h2>Notificaciones</h2>
    <ul class="list-group">
        {% for notificacion in notificaciones %}
            <li class="list-group-item {% if notificacion.leida %}leida{% endif %}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ notificacion.tipo }}</h5>
                        <p class="card-text">{{ notificacion.mensaje|safe }}</p> <!-- Asegura que el mensaje sea seguro -->
                        <small class="text-muted">{{ notificacion.fecha_creacion }}</small>
                        <button class="btn btn-danger btn-sm float-end" onclick="eliminarNotificacion({{ notificacion.id }})">Eliminar</button>
                    </div>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">
                <p class="mt-3">No tienes notificaciones.</p>
            </li>
        {% endfor %}
    </ul>
    <div class="mt-3">
        <button class="btn btn-danger btn-sm" onclick="eliminarTodasNotificaciones()">Eliminar Todas las Notificaciones</button>
    </div>
</div>

<script>
    // Función para eliminar notificación mediante AJAX
    function eliminarNotificacion(notificacionId) {
        if (confirm('¿Estás seguro de que quieres eliminar esta notificación?')) {
            $.ajax({
                url: '/eliminar-notificacion/' + notificacionId + '/',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                success: function(data) {
                    alert('Notificación eliminada correctamente.');
                    location.reload(); // Recargar la página para reflejar los cambios
                },
                error: function(error) {
                    console.error('Error al eliminar la notificación:', error);
                    alert('Error al intentar eliminar la notificación.');
                }
            });
        }
    }

    // Función para eliminar todas las notificaciones
    function eliminarTodasNotificaciones() {
        if (confirm('¿Estás seguro de que quieres eliminar todas tus notificaciones?')) {
            $.ajax({
                url: '/eliminar-todas-notificaciones/',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                success: function(data) {
                    alert('Todas las notificaciones han sido eliminadas correctamente.');
                    location.reload(); // Recargar la página para reflejar los cambios
                },
                error: function(error) {
                    console.error('Error al eliminar todas las notificaciones:', error);
                    alert('Error al intentar eliminar todas las notificaciones.');
                }
            });
        }
    }
</script>
{% endblock %}
