{% extends "./base.html" %}

{% block body %}
{% load static %}
{% if messages %}
<div class="alert alert-success text-center" role="alert">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
<link href="{% static '../static/style/styleregistro.css' %}" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <h1>Cambiar Contraseña</h1>
    <p>Hola: {{ email }}</p>  
    <form action="/cambiarContraseña/" class="form" id="registroForm" autocomplete="off" method="POST" onsubmit="return validarContraseña();">
      {% csrf_token %}
      <input type="hidden" name="uidb64" value="{{ uidb64 }}">
      <input type="hidden" name="token" value="{{ token }}">
        <div class="inputContainer">
            <input type="password" id="txtPassword" name="txtPassword" class="input"  minlength="4">
            <label for="txtPassword" class="label">Nueva Contraseña</label>
          </div>
      
          <div class="inputContainer">
            <input type="password" id="txtpass2" name="txtpass2" class="input"  minlength="4">
            <label for="txtpass2" class="label">Confirmar Contraseña</label>
          </div>
      
          <div class="input-group-append">
            <button type="button" id="btnMostrarContraseña" class="btn btn-outline-secondary" onclick="mostrarContraseña()">Mostrar contraseña</button>
          </div>
          <button type="submit">Cambiar contraseña</button>
        </form>
    {% endblock %}
