{% extends "./base.html" %}

{% block body %}
{% load static %}
<link href="{% static '../static/style/styleperfil.css' %}" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<br><br><br>

<div class="container">
  <h2 class="title">Datos de usuario</h2>

  <div class="profileContainer">
    <p class="profileData"><span class="label"></span>{{ request.user.name }}</p>
  </div>

  <div class="profileContainer">
    <p class="profileData"><span class="label"></span>{{ request.user.lastname }}</p>
  </div>

  <div class="profileContainer">
    <p class="profileData"><span class="label"></span>{{ request.user.email }}</p>
  </div>

  <div class="profileContainer">
    <p class="profileData"><span class="label"></span>{{ request.user.celular }}</p>
  </div>

  <div class="profileContainer">
    <p class="profileData"><span class="label"></span>{{ request.user.date_nac|date:"Y-m-d" }}</p>
  </div>
  <div class="profileContainer">
    <p class="profileData"><span class="label"></span>{{ request.user.region }}</p>
  </div>
  <div class="profileContainer">
    <p class="profileData"><span class="label"></span>{{ request.user.comuna }}</p>
  </div>

  <div class="input-group-append">
    <a href="{% url 'edperfil' %}" class="btn btn-success submitBtn">Cambiar</a>
  </div>
</div>

{% endblock %}

