{% extends "./base.html" %}

{% block body %}
{% load static %}
<link href="{% static '../static/style/styleperfil.css' %}" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
  .profilesContainer {
    margin-bottom: 20px; /* Espacio inferior entre elementos */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(70, 180, 205); /* Borde de cada perfil */
  border-radius: 8px; /* Esquinas redondeadas para cada perfil */
  background-color: #ffffff;
  }

  .valoracion {
      text-align: center;
  }
</style>
<br><br><br>

<div class="container">
  <h2 class="title">Perfil de Usuario</h2>
  
  <div class="profileContainer">
    <p class="profileData"><span class="label">Nombre:</span> {{ usuario.name }} {{ usuario.lastname }}</p>
  </div>

  <div class="profileContainer">
    <p class="profileData"><span class="label">Celular:</span> {{ usuario.celular }} </p>
  </div>

  <div class="profileContainer">
    <p class="profileData"><span class="label">Comuna:</span> {{ usuario.comuna }} </p>
  </div>

  
    <p class="profileData"><span class="label">Reputación:</span> :</p>
  
  {% if valoraciones %}
  {% for valoracion in valoraciones %}
  <div class="profilesContainer">
    <div class="reputation"></div>
    <div class="valoracionBox">
        <div class="valoracion">
            <p><strong>Puntuación:</strong> {{ valoracion.puntuacion }}★</p>
            <p>{{ valoracion.comentario }}</p>
        </div>
    </div>
</div>
  {% endfor %}  
{% else %}
  <div class="profilesContainer">
      <div class="reputation">
          <span class="star">No hay valoraciones aún</span>
      </div>
  </div>
{% endif %}

  
</div>
<br>
<div class="row">
  <div class="d-flex flex-wrap" style="justify-content: center;">
    {% for producto in Productos %}
    <div class="col-md-3 mb-4">
      <div class="card h-100" style="width: 18rem;">
        <img src="{{ producto.imagen.imagen.url }}" alt="{{ producto.nombre }}" class="card-img-top" style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <p class="card-text">{{ producto.descripcion }}</p>
          <a href="{% url 'detalle_producto' producto.id %}" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
