{% extends "./base.html" %}

{% block body %}
{% load static %}

<br><br> 

<link href="{% static 'style/styleregistro.css' %}" rel="stylesheet" type="text/css">

<div class="container">
    <form method="post" enctype="multipart/form-data" action="{% url 'publicar_producto' %}" class="form">
        {% csrf_token %}
        <h2 class="title">Publicar Producto</h2>
        
        <!-- Nombre -->
        <div class="inputContainer">
            <input type="text" id="nombre" name="nombre" class="input" placeholder=" " required>
            <label for="nombre" class="label">Nombre</label>
        </div>
        
        <!-- Categoría -->
        <div class="inputContainer">
            <select id="categoria" name="categoria" class="input" required>
                <option value="" disabled selected></option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                {% endfor %}
            </select>
            <label for="categoria" class="label">Categoría</label>
        </div>
        
        <!-- Condición -->
        <div class="inputContainer">
            <select id="condicion" name="condicion" class="input" required>
                <option value="" disabled selected></option>
                {% for condicion in condiciones %}
                    <option value="{{ condicion.id }}">{{ condicion.condicion }}</option>
                {% endfor %}
            </select>
            <label for="condicion" class="label">Condición</label>
        </div>
        
        <!-- Imagen -->
        <div class="inputContainer">
            <input type="file" id="imagen" name="imagen" class="input" accept="image/*" required>
            <label for="imagen" class="label">Imagen</label>
        </div>
        
        <!-- Descripción -->
        <div class="inputContainer">
            <textarea id="descripcion" name="descripcion" class="input" placeholder=" " required></textarea>
            <label for="descripcion" class="label">Descripción</label>
        </div>
        
        <!-- Botón de envío -->
        <input type="submit" class="submitBtn" value="Publicar">
    </form>
</div>

{% endblock %}
