{% extends "./base.html" %}
{% load static%}
{% block body %}
<br>
{% if messages %}
<div class="alert alert-success text-center" role="alert">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
              <img src="{% static 'img/banner1.png' %}" class="d-block w-100 img-fluid" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
              <img src="{% static 'img/banner2.jpg' %}" class="d-block w-100 img-fluid" alt="...">
          </div>
          <div class="carousel-item">
              <img src="{% static 'img/banner4.jpg' %}" class="d-block w-100 img-fluid" alt="...">
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
    </div>
            <!--fin carrusel -->
            <section class="latest-products-section">
                
              <!--prueba de usuario iniciado -->
              {% if request.user.is_authenticated %}
        <!-- Mostrar un mensaje de bienvenida con el nombre del usuario -->
              <h1>Bienvenid@, {{ request.user.full_name }}</h1>
              <h1>¡Te extrañabamos!</h1>
              <h2>Últimos productos agregados</h2>
                {% else %}
        <!-- Si el usuario no está autenticado, mostrar un mensaje genérico -->
                <h1>Bienvenid@</h1>
                <h2>Últimos productos agregados</h2>
                {% endif %}
            </section>
          <!--fin productos-->
          <div class="container ">
            <div class="d-flex flex-wrap">
            {% for producto in Productos %}
            <div class="col-md-3 mb-4">
                <div class="card h-100" style="width: 18rem;">
                    <img src="{{ producto.imagen.imagen.url }}" alt="{{ producto.nombre }}" class="card-img-top" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">{{ producto.descripcion }}</p>
                        <a href="{% url 'detalle_producto' producto.id %}" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div> 
        </div>
{% endblock%}

