{% extends "./base.html" %}

{% block body %}
{% load static %}
<link href="{% static 'style/styleproductos.css' %}" rel="stylesheet" type="text/css">
<br>
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="title">Productos</h1>
        <form method="GET" action="">
            <div class="form-group">
                <label for="categoria">Categoría:</label>
                <select id="categoria" name="categoria" class="form-control" onchange="this.form.submit()">
                    <option value="">Todas</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}" {% if categoria.id|stringformat:"s" == categoria_seleccionada %}selected{% endif %}>{{ categoria.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <form method="GET" action="">
            <div class="form-group">
                <label for="categoria">Condición:</label>
                <select id="condicion" name="condicion" class="form-control" onchange="this.form.submit()">
                    <option value="">Todas</option>
                    {% for condicion in condiciones %}
                        <option value="{{ condicion.id }}" {% if condicion.id|stringformat:"s" == condicion_seleccionada %}selected{% endif %}>{{ condicion.condicion }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <form>
            <div class="form-group">
                <label for="estado">Estado:</label>
                <select id="estado" name="estado" class="form-control" onchange="this.form.submit()">
                    <option value="">Todos</option>
                    {% for valor, nombre in estados %}
                        <option value="{{ valor }}" {% if valor == estado_seleccionado %}selected{% endif %}>{{ nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
    <div class="row">
        {% for producto in Productos %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ producto.imagen.imagen.url }}" alt="{{ producto.nombre }}" class="card-img-top" style="height:400px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <a href="{% url 'detalle_producto' producto.id %}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
