{% extends "./base.html" %}
{% load static %}

{% block body %}
<link href="{% static '../static/style/styleregistro.css' %}" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<br><br><br>
<div class="container">
  <form action="/registrarUsuario/" class="form" id="registroForm" autocomplete="off" method="POST" onsubmit="return validarContraseña();">
    {% csrf_token %}
    <h2 class="title">Registro</h2>

    {% if messages %}
    <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
    </div>
    {% endif %}
    <div class="inputContainer">
      <input type="text" id="txtRut" name="txtRut" class="input" placeholder=" " minlength="3" maxlength="50" required>
      <label for="txtRut" class="label">Rut</label>
    </div>

    <div class="inputContainer">
      <input type="text" id="txtNombre" name="txtNombre" class="input" placeholder=" " minlength="3" maxlength="50" required>
      <label for="txtNombre" class="label">Nombre</label>
    </div>

    <div class="inputContainer">
      <input type="text" id="txtApellido" name="txtApellido" class="input" placeholder=" " minlength="3" maxlength="50" required>
      <label for="txtApellido" class="label">Apellido</label>
    </div>

    <div class="inputContainer">
      <input type="email" id="txtCorreo" name="txtCorreo" class="input" placeholder=" " minlength="3" maxlength="25" required>
      <label for="txtCorreo" class="label">Correo</label>
    </div>

    <div class="inputContainer">
      <input type="text" id="numCelular" name="numCelular" class="input" placeholder=" " minlength="1" maxlength="9" required>
      <label for="numCelular" class="label">Celular</label>
    </div>

    <div class="inputContainer">
      <select id="region" name="region" class="input">
        {% for region in regiones %}
          <option value="{{ region.id }}" {% if region.id == request.user.region.id %}selected{% endif %}>
            {{ region.nombre }}
          </option>
        {% endfor %}
      </select>
      <label for="region" class="label">Región</label>
    </div>
    
    <div class="inputContainer">
      <select id="comuna" name="comuna" class="input">
        {% for comuna in comunas %}
          <option value="{{ comuna.id }}" {% if comuna.id == request.user.comuna.id %}selected{% endif %}>
            {{ comuna.nombre }}
          </option>
        {% endfor %}
      </select>
      <label for="comuna" class="label">Comuna</label>
    </div>

    <div class="inputContainer">
      <input type="date" id="txtFechaNac" name="txtFechaNac" class="input" placeholder=" ">
      <label for="txtFechaNac" class="label">Fecha de nacimiento</label>
    </div>

    <div class="inputContainer">
      <input type="password" id="txtPassword" name="txtPassword" class="input" placeholder=" " minlength="4" required>
      <label for="txtPassword" class="label">Contraseña</label>
    </div>

    <div class="inputContainer">
      <input type="password" id="txtpass2" name="txtpass2" class="input" placeholder=" " minlength="4" required>
      <label for="txtpass2" class="label">Confirmar Contraseña</label>
    </div>

    <div class="input-group-append">
      <button type="button" id="btnMostrarContraseña" class="btn btn-outline-secondary" onclick="mostrarContraseña()">Mostrar contraseña</button>
    </div>

    <input type="submit" class="submitBtn" value="Sign up">
  </form>
</div>

{% endblock %}
