{% extends "./base.html" %}

{% block body %}
{% load static %}
<br>
<center><h1>Valoración de Trueque</h1></center>

<link href="{% static '../static/style/styleregistro.css' %}" rel="stylesheet" type="text/css">
<!-- Mostrar nombre completo del usuario que envió la notificación -->


<!-- Formulario para dejar comentario y puntuación -->
<div class="container">
    <form method="post" action="{% url 'valoracion' %}">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_usuario_evaluado">Usuario a evaluar:</label>
            <select id="id_usuario_evaluado" name="usuario_evaluado_id" class="form-control" required>
                <option value="">Selecciona un usuario</option>
                {% for usuario in usuarios_disponibles %}
                <option value="{{ usuario.id }}">{{ usuario.name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <label for="id_puntuacion">Puntuación (1-5):</label>
            <input type="number" id="id_puntuacion" name="puntuacion" min="1" max="5" class="form-control" required>
        </div>
        
        <div class="form-group">
            <label for="id_comentario">Comentario:</label>
            <textarea id="id_comentario" name="comentario" rows="4" class="form-control"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Enviar Valoración</button>
    </form>
</div>
{% endblock %}
