{% extends "../base.html" %}
{% load static %}
{% block body %}
<link href="{% static '../static/style/stylechat.css'%}" rel="stylesheet" type="text/css">

    <div class="container">
        <h2 class="title">Bienvenid@, {{ request.user.name }} con quien deseas hablar?</h2>

        <ul class="userList">
            {% for user in users %}
                {% if user != request.user %}
                    <li class="userItem">
                        <span class="label">{{ user.name }} {{ user.lastname }}</span>
                        <input id="room-name-input-{{ forloop.counter }}" type="hidden" value="room1">
                        <button id="room-name-submit-{{ forloop.counter }}" class="submitBtn">Enter</button>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <script>
        // Iterar sobre cada botón "Enter" y asignarle un evento onclick
        {% for user in users %}
            {% if user != request.user %}
                document.querySelector('#room-name-submit-{{ forloop.counter }}').onclick = function(e) {
                    var roomName = document.querySelector('#room-name-input-{{ forloop.counter }}').value;
                    window.location.pathname = '/chat/' + roomName + '/';
                };
            {% endif %}
        {% endfor %}
    </script>
{% endblock %}
