{% extends "../base.html" %}

{% block body %}
{% load static %}
<link href="{% static 'style/stylechatroom.css' %}" rel="stylesheet" type="text/css">
<div class="container chat-container">
    <div class="card">
        <div class="card-header">
            Chat Room: {{ room_name }}
        </div>
        <div class="card-body">
            <textarea id="chat-log" class="form-control" readonly rows="15"></textarea>
        </div>
        <div class="card-footer d-flex">
            <input id="chat-message-input" class="form-control me-2" type="text" placeholder="Type your message here...">
            <button id="chat-message-submit" class="btn btn-primary">Send</button>
        </div>
    </div>
</div>
{{ room_name|json_script:"room-name" }}
{{ request.user.full_name|json_script:"user-name" }}

<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const userName = JSON.parse(document.getElementById('user-name').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const chatLog = document.querySelector('#chat-log');
        chatLog.value += (`${data.username}: ${data.message}\n`);
        chatLog.scrollTop = chatLog.scrollHeight;  // Scroll automático al final
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName  // Enviar el nombre del usuario junto con el mensaje
        }));
        messageInputDom.value = '';  // Limpiar el campo de entrada de mensaje
    };
</script>
{% endblock %}