@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Fondo cambiado a #f0f0f0 */
  font-family: "Lato", sans-serif; /* Cambio de la fuente a Lato */
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.navbar {
    background-color: rgb(70, 180, 205) !important;
    color: rgb(200, 190, 255);
    padding: 10px 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: rgb(0, 0, 0); /* texto */
}

/* Estilos de la barra de búsqueda */
.search-form {
    display: flex;
}

.search-form input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.custom-input {
    min-width: 200px; /* Establece un ancho mínimo para el cuadro de texto */
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.custom-input::placeholder {
    font-size: 13px; /* Ajusta el tamaño del texto del marcador de posición según sea necesario */
}

.custom-search-btn {
    background-color: #082434; /* Cambiado al color deseado */
    color: #ffffff; /* Asegura que el texto sea legible con el nuevo fondo */
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.custom-search-btn:hover {
    background-color: #2c3f4e; /* Cambia el color al poner el cursor sobre el botón */
}

.container {
  text-align: center;
  border: 1px solid rgb(70, 180, 205);
  padding: 20px;
  max-width: 500px; /* Ancho máximo del contenedor */
  margin: 50px auto; /* Centra el contenedor horizontalmente y agrega espacio superior */
  border-radius: 15px; /* Esquinas redondeadas */
  background-color: white; /* Fondo blanco para el contenedor */
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.title {
  font-size: 24px; /* Tamaño del título */
  margin-bottom: 20px; /* Espacio inferior para separar del formulario */
}

.userList {
  list-style: none; /* Elimina los puntos de la lista */
  padding: 0;
}

.userItem {
  margin-bottom: 20px; /* Espacio inferior entre elementos */
  padding: 10px; /* Padding interno de cada usuario */
  border: 1px solid rgb(70, 180, 205); /* Borde de cada usuario */
  border-radius: 8px; /* Esquinas redondeadas para cada usuario */
  background-color: #f9f9f9; /* Fondo claro para cada usuario */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-weight: bold; /* Pone la etiqueta en negrita */
  color: rgb(70, 180, 205); /* Color de las etiquetas */
  flex: 1; /* Asegura que las etiquetas ocupen toda la línea disponible */
}

.submitBtn {
  width: 100px; /* Ancho del botón */
  padding: 10px; /* Ajuste del padding del botón */
  border: none;
  background-color: rgb(70, 180, 205); /* Color del botón */
  color: white;
  border-radius: 8px; /* Radio de borde */
  cursor: pointer;
  font-size: 14px; /* Tamaño de la fuente */
  box-sizing: border-box; /* Asegura que el padding esté incluido en el ancho */
}

.submitBtn:hover {
  background-color: rgb(85, 217, 247);
  transform: translateY(-2px);
}

footer {
  margin-top: auto; /* Empuja el footer al final de la página */
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
  width: 100%;
}

footer p, footer ul {
  margin: 0;
  padding: 0;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
