.custom-input {
    width: calc(100% - 110px);
    min-width: 200px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.custom-input::placeholder {
    font-size: 13px;
}

.btn-outline-success {
    padding: 0.375rem 0.75rem;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 90%;
    margin: auto;
}

.navbar {
    background-color: rgb(70, 180, 205) !important;
    color: rgb(200, 190, 255);
    padding: 10px 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.search-form {
    display: flex;
}

.search-form input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.custom-input {
    width: calc(100% - 110px);
    min-width: 200px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.custom-input::placeholder {
    font-size: 13px;
}

.custom-search-btn {
    background-color: #082434;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-search-btn:hover {
    background-color: #2c3f4e;
}

p {
    text-align: justify;
}

.icon-small {
    width: 50px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    display: block;
    margin: 10px auto; /* Centra la imagen horizontalmente */
}

.product-section {
    padding: 20px 0;
}

.product {
    margin-bottom: 20px;
}

.product img {
    width: 100%;
    max-width: 200px;
    display: block;
    margin-bottom: 10px;
}

.titulos {
    color: rgb(97, 4, 4);
}

.parrafos {
    color: rgb(28, 27, 27);
}

h2 {
    display: inline-block;
    margin-right: 30px;
}

.carousel {
    max-width: 1400px;
    max-height: 600px;
    margin: 0 auto;
}

.imagen-pequena {
    max-width: 300px;
    height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(154, 191, 255);
}

.latest-products-section {
    text-align: center;
}

.product img {
    width: 80%;
    max-width: 300px;
    height: auto;
}

.custom-input {
    width: calc(100% - 110px);
    min-width: 200px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.custom-input::placeholder {
    font-size: 13px;
}

.btn-outline-success {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
}

.btn-outline-success:hover {
    background-color: #218838;
}

.submitBtn {
    display: block;
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    background-color: rgb(66, 153, 184);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.submitBtn:hover {
    background-color: rgb(0, 174, 255);
    transform: translateY(-2px);
}

/* Estilos para las secciones en columnas */
.about {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
}

.values ul {
    list-style-type: none;
    padding: 0;
}

.values li {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

/* Colores pastel para cada valor */
.values li:nth-child(1) {
    background-color: #ffebcc; /* Sostenibilidad */
}

.values li:nth-child(2) {
    background-color: #ccffeb; /* Solidaridad */
}

.values li:nth-child(3) {
    background-color: #ffccff; /* Empatía */
}

.values li:nth-child(4) {
    background-color: #ccffcc; /* Compromiso social */
}

.values li:nth-child(5) {
    background-color: #cce5ff; /* Inclusión */
}

.values li:nth-child(6) {
    background-color: #ffe5cc; /* Respeto */
}

.values li:hover {
    transform: translateY(-2px);
}

