.custom-input {
    width: calc(100% - 110px); /* Ajusta el ancho del cuadro de texto restando el ancho del botón */
    min-width: 200px; /* Establece un ancho mínimo para el cuadro de texto */
}
.custom-input::placeholder {
    font-size: 13px; /* Ajusta el tamaño del texto del marcador de posición según sea necesario */
}
.btn-outline-success {
    padding: 0.375rem 0.75rem; /* Ajusta el relleno del botón según sea necesario */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 90%;
    margin: auto;
}

/* Estilos de la barra de navegación */

.navbar {
    background-color: rgb(70, 180, 205) !important;
    color: rgb(200, 190, 255);
    padding: 10px 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: rgb(0, 0, 0); /* texto */
}

/* Estilos de la barra de búsqueda */
.search-form {
    display: flex;
}

.search-form input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.custom-input {
    width: calc(100% - 110px); /* Ajusta el ancho del cuadro de texto restando el ancho del botón */
    min-width: 200px; /* Establece un ancho mínimo para el cuadro de texto */
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.custom-input::placeholder {
    font-size: 13px; /* Ajusta el tamaño del texto del marcador de posición según sea necesario */
}

.custom-search-btn {
    background-color: #082434; /* Cambiado al color deseado */
    color: #ffffff; /* Asegura que el texto sea legible con el nuevo fondo */
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.custom-search-btn:hover {
    background-color: #2c3f4e; /* Cambia el color al poner el cursor sobre el botón */
}


/* Estilos de las secciones de productos */
.product-section {
    padding: 20px 0;
}

.product {
    margin-bottom: 20px;
}

.product img {
    width: 100%;
    max-width: 200px;
    display: block;
    margin-bottom: 10px;
}

.titulos{color:rgb(97, 4, 4)}
.parrafos{color:rgb(28, 27, 27)}
h2 {
    display: inline-block;
    margin-right: 30px;
  }

/* Galeria */
.carousel {
    max-width: 1400px; /* ajusta el ancho máximo según tus preferencias */
    max-height: 600px; /* ajusta la altura máxima según tus preferencias */
    margin: 0 auto; /* centra el carousel horizontalmente */
}

.imagen-pequena {
    max-width: 300px;
    height: auto;
}
  
  /*  flechas galeria */
  .carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(154, 191, 255); /
}
  
.latest-products-section {
    text-align: center; /* Centra el contenido en la página */
}

.product img {
    width: 80%; /* Ajusta el ancho de las imágenes al 80% del tamaño original */
    max-width: 300px; /* Establece un ancho máximo para las imágenes */
    height: auto; /* Mantiene la proporción de aspecto de las imágenes */
}

.custom-input {
    width: calc(100% - 110px); /* Ajusta el ancho del cuadro de texto restando el ancho del botón */
    min-width: 200px; /* Establece un ancho mínimo para el cuadro de texto */
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.custom-input::placeholder {
    font-size: 13px; /* Ajusta el tamaño del texto del marcador de posición según sea necesario */
}

.btn-outline-success {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
}

.btn-outline-success:hover {
    background-color: #218838;
}

/* Ajustes para el botón de envío */
.submitBtn {
    display: block;
    margin-top: 20px; /* Ajusta el margen superior */
    padding: 15px 30px;
    border: none;
    background-color: rgb(66, 153, 184); /* Color de fondo en formato rgb */
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.submitBtn:hover {
    background-color: rgb(0, 174, 255); /* Color de fondo al pasar el mouse en formato rgb */
    transform: translateY(-2px);
}



.card-img-top {
    max-width: 5%;
    height: auto;
    object-fit: cover; /* Asegura que las imágenes mantengan sus proporciones */
    max-height: 5px; /* Ajusta este valor según tus necesidades */
}