@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: "Lato", sans-serif; /* Aplica la fuente Lato */
  background-color: #f0f0f0; /* Fondo de la página */
}

.container {
  margin-top: 20px;
  max-width: 1200px;
}

.title, .product-title {
  font-size: 24px;
  font-weight: bold;
  color: rgb(70, 180, 205);
}

.product-description {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}

.product-card {
  border: 1px solid rgb(70, 180, 205); /* Marco alrededor del producto */
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  overflow: hidden; /* Para asegurar que el contenido se ajuste al borde */
}

.product-img-container {
  overflow: hidden; /* Oculta cualquier contenido que desborde el contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  max-width: 100%; /* Asegura que el contenedor no exceda el ancho de su contenedor padre */
  position: relative;
}

.product-img {
  width: 100%;
  height: auto; /* Ajuste de la altura automática */
  object-fit: cover; /* Ajuste para que la imagen cubra el contenedor manteniendo la proporción */
  transition: transform 0.2s ease, transform-origin 0.2s ease; /* Transición para el efecto de zoom */
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
  color: #666;
}

.btn-primary, .btn-secondary {
  background-color: rgb(70, 180, 205);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
}

.btn-primary:hover, .btn-secondary:hover {
  background-color: rgb(85, 217, 247);
}

.d-flex {
  flex-wrap: wrap;
  gap: 20px;
}
