@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Fondo cambiado a #f0f0f0 */
  font-family: "Lato", sans-serif; /* Cambio de la fuente a Lato */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  border: 1px solid rgb(70, 180, 205);
  padding: 20px;
  max-width: 500px; /* Ancho máximo del contenedor */
  margin: auto; /* Centra el contenedor horizontalmente */
  border-radius: 15px; /* Esquinas redondeadas */
  background-color: white; /* Fondo blanco para el contenedor */
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.title {
  font-size: 24px; /* Tamaño del título */
  margin-bottom: 20px; /* Espacio inferior para separar del formulario */
}

.inputContainer, .profileContainer {
  margin-bottom: 20px; /* Espacio inferior entre elementos */
  padding: 10px; /* Padding interno de cada perfil */
  border: 1px solid rgb(70, 180, 205); /* Borde de cada perfil */
  border-radius: 8px; /* Esquinas redondeadas para cada perfil */
  background-color: #ffffff; /* Fondo claro para cada perfil */
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.profilesContainer {
  margin-bottom: 20px; /* Espacio inferior entre elementos */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(70, 180, 205); /* Borde de cada perfil */
  border-radius: 8px; /* Esquinas redondeadas para cada perfil */
  background-color: #ffffff;
}

.valoracion {
  text-align: center;
}





.label {
  font-weight: bold; /* Pone la etiqueta en negrita */
  color: rgb(70, 180, 205); /* Color de las etiquetas */
  flex: 1; /* Asegura que las etiquetas ocupen toda la línea disponible */
}

.data {
  color: black; /* Color de los datos */
  flex: 2; /* Asegura que los datos ocupen el doble de espacio que las etiquetas */
}

.input {
  width: calc(100% - 40px); /* Calcula el ancho del input con el padding */
  border: 1px solid rgb(70, 180, 205);
  border-radius: 8px; /* Ajusta el radio de borde */
  font-size: 16px; /* Tamaño de la fuente */
  padding: 10px 20px; /* Padding del input */
  outline: none;
  background: none;
  margin-top: 10px;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: rgb(70, 180, 205);
}

.submitBtn {
  width: calc(100% - 40px); /* Ancho del botón igual al de los inputs */
  padding: 15px 0; /* Ajuste del padding del botón */
  border: none;
  background-color: rgb(70, 180, 205); /* Color del botón */
  color: white;
  border-radius: 8px; /* Radio de borde */
  cursor: pointer;
  font-size: 16px; /* Tamaño de la fuente */
  margin-top: 20px; /* Espacio superior */
  box-sizing: border-box; /* Asegura que el padding esté incluido en el ancho */
  text-align: center;
  display: inline-block;
}

.submitBtn:hover {
  background-color: rgb(85, 217, 247);
  transform: translateY(-2px);
}

.input-group-append {
  margin-top: 20px; /* Espacio superior para separar del formulario */
  display: flex;
  justify-content: center; /* Centra el botón dentro del contenedor */
}

