@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;/* Fondo blanco para toda la página */
  font-family: "Lato", sans-serif; /* Cambio de la fuente a Lato */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  border: 1px rgb(70, 180, 205);
  padding: 20px;
  max-width: 500px; /* Ancho máximo del contenedor */
  margin: auto; /* Centra el contenedor horizontalmente */
  border-radius: 15px; /* Esquinas redondeadas */
  background-color: white; /* Fondo blanco para el contenedor */
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.profileContainer {
  margin-bottom: 20px; /* Espacio inferior entre elementos */
  text-align: left; /* Alinea el texto a la izquierda */
}

.profileData {
  font-size: 16px; /* Tamaño de la fuente */
  color: black; /* Color del texto */
  margin: 5px 0 10px 0; /* Espaciado entre los datos y los siguientes elementos */
}

.form {
  background-color: transparent; /* Fondo transparente para el formulario */
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  font-family: 'Lato', sans-serif; /* Aplica la fuente Lato al formulario */
}

.title {
  font-size: 24px; /* Tamaño del título */
  margin-bottom: 20px; /* Espacio inferior para separar del formulario */
}

.inputContainer {
  position: relative;
  margin-bottom: 20px; /* Espacio inferior entre elementos */
}

.input {
  width: 100%; /* Calcula el ancho del input con el padding */
  border: 1px solid rgb(70, 180, 205);
  border-radius: 8px; /* Ajusta el radio de borde */
  font-size: 16px; /* Tamaño de la fuente */
  padding: 10px 20px; /* Padding del input */
  outline: none;
  background: none;
  margin-top: 10px; 
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: rgb(70, 180, 205);
}

.label {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
}

.submitBtn {
  width: 100%; /* Ancho del botón al 100% */
  padding: 15px 0;
  border: none;
  background-color: rgb(70, 180, 205); /* Color del botón */
  color: white;
  border-radius: 8px; /* Radio de borde */
  cursor: pointer;
  font-size: 16px; /* Tamaño de la fuente */
  margin-top: 20px; /* Espacio superior */
}

.submitBtn:hover {
  background-color: rgb(85, 217, 247);
  transform: translateY(-2px);
}