@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: "Lato", sans-serif; /* Cambio de la fuente a Lato */
}

.chat-container {
  max-width: 800px;
  margin: 50px auto; /* Centra el contenedor y agrega espacio superior */
  padding: 0 20px;
}

.card {
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.card-header {
  background-color: rgb(70, 180, 205);
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 18px;
  text-align: center;
  padding: 15px;
}

.card-body {
  padding: 20px;
  background-color: #f9f9f9;
}

#chat-log {
  width: 100%;
  height: 400px;
  border: none;
  resize: none;
  background-color: #f9f9f9;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5;
}

#chat-message-input {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#chat-message-submit {
  background-color: rgb(70, 180, 205);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#chat-message-submit:hover {
  background-color: rgb(85, 217, 247);
}
